<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite1">

	<listeners>
	<listener class-name="utilities.ExtentReporting"></listener>
	</listeners>
   <test name = "Newtest1">

      <parameter name = "browser" value="firefox"/>

      <classes>
         <class name = "testCases.NewTest1" />
         <!--class name = "testCases.TC2_NewTest_DDT_01" /-->
      </classes>

   </test>
</suite>